@import 'framework7/css/framework7.bundle.css';
@import 'framework7-icons/css/framework7-icons.css';
@import 'material-design-icons/iconfont/material-icons.css';

.notLoggedIn .todoList {
	display: none;
}
.loggedIn .loginPage{
	display: none;
}
#logout{
	float: right;
	display: block;
}
.completed{
	text-decoration: line-through;
}